#info{
    margin-top: 120px;
    margin-bottom: 80px;
}

.subtitle {
    color: var(--gray-200);
    margin-top: 56px;
}

.text-subtitle {
    color: var(--red);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-300);
    margin-top: 20px;
}

.language {
    width: 114px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--gray-400);
    margin: 20px 10px; 
    color: var( --gray-100);
   
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 8px; 
}

.seta{
    padding: 94px;
}